<h1 style="text-align: center; margin-top:30px">Signup!</h1>
<div style="max-width: 300px; margin: 0 auto;">
  <%= form_for :user, url: '/users' do |f| %>
    <div style="margin-bottom: 10px;">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div style="margin-bottom: 10px;">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div style="margin-bottom: 10px;">
      <%= f.label :email %><br>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div style="margin-bottom: 10px;">
      <%= f.label :password %><br>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div style="margin-bottom: 10px;">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
